@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$colors: (
  background: linear-gradient(120deg, #94d0cc, #f29191),
  primary: #94d0cc,
  secondary: #f29191,
  red: #f55c47,
  green: rgb(73, 204, 73)
);

@function color($color-name){
  @return map-get($colors, $color-name)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: color(background);
  color: black;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

  input, button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }

  button {
    color: black;
    background: color(primary);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button:hover {
    background: color(secondary);
    color: white;
  }

}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;

  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
  }
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;

  li {
    flex: 1
  }

  .trash-btn, .complete-btn {
    background: color(red);
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
  }

  .complete-btn {
    background: color(green);
  }

  .todo-item {
    padding: 0rem 0.5rem;
  }

  .fa-trash, .fa-check {
    pointer-events: none;
  }
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;

  /* Custom Select */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    color: color(secondary);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
    padding: 1rem;
  }

  &:after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: color(primary);
    cursor: pointer;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  &:hover:after{
    background: color(secondary);
    color: white;
  }
}
